environment:
    name: staging
mediahaven:
    monitoring:
        url: archief-qas.viaa.be/monitoring
        validuser: 
        validpasswd: 
    rest:
        url: dg-qas-app-m0.dg.viaa.be
meemoo:
    # Service names are their "canonical names"
    services:
        pid_webservice:
            url: do-qas-mvn-01.do.viaa.be:8080/pid-qas
        org_api:
            url: do-qas-esb-01.do.viaa.be:10003
