environment:
    name: ~
    short_name: ~
mediahaven:
    monitoring:
        url: ~
    rest:
        url: ~
meemoo:
    # Service names are their "canonical names"
    services:
        pid_webservice:
            url: ~
        org_api:
            url: ~
